{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
        .centervert{
        width: 300px;
        height: 200px;

        position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width:100%;
        max-height:100%;
        overflow:auto;
        }
        </style>

        <title>Pretty Strange</title>
    </head>
    <body style="background-image: url('{% static "demogorgon.jpg" %}'); background-size: cover">
        <div  class="centervert">
        <form action="/spell/" method="post">
            {% csrf_token %}
            <label for="spell" style="color:white; display:block; text-align:center">Speak from the Dark Place: </label><br>
            <input id="spell_text" type="text" name="spell_text" value="" autofocus=true style="width:90%; margin: auto; display:block"><br>
            <input type="submit" value="Send" style="display:block; margin:5px auto">
        </form>
    </div>
    </body>
</html>
